<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <script src="/Content/javascripts/jquery-3.2.1.js" attr="defer"></script>
    <script src="/Content/javascripts/scripts.js"></script>
    <link rel="icon" href="/Content/img/hairHackLogo.jpg" type="image">
    <title>Hack Job</title>
  </head>
  <body>
    <div class="container">
      <h1>Hack your hair!</h1>
      <h4>You'll never believe these people can <em>Hack</em> your hair into doing what you want!</h4>
      <p>By far the cheapest and most effective way to change your hair forever - just click the links!</p>
      <img id="pole" src="/Content/img/barberPoleGif.png" alt="barber pole" />
      <div class="renderBody">
        @RenderBody()
      </div>
    </div>
  </body>
</html>
